<div class="contact-section" id="contact">
  <h2>Get in Touch</h2>
  <p>We’d love to hear from you. Reach us directly via email or Instagram.</p>

  <div class="contact-options">
    <a href="mailto:brandorasolutions0614@gmail.com" class="contact-link">
      <i class="fas fa-envelope"></i> <p>brandorasolutions0614&#64;gmail.com</p>
    </a>

    <a href="https://instagram.com/brandorasolutionsin" target="_blank" class="contact-link">
      <i class="fab fa-instagram"></i> Brandora Solutions
    </a>
  </div>
</div>