<nav class="navbar">
  <a href="#home">
      <img src="assets/brandora-logo.png" alt="Brandora Solutions Logo" class="logo-img">
    </a>
  <div class="logo">Brandora Solutions</div>
  <ul class="nav-links">
    <li><a href="#home" [class.active]="activeSection === 'home'">Home</a></li>
    <li><a href="#services" [class.active]="activeSection === 'services'">Services</a></li>
   <!-- <li><a href="#portfolio" [class.active]="activeSection === 'portfolio'">Portfolio</a></li> -->
    <li><a href="#contact" [class.active]="activeSection === 'contact'">Contact</a></li>
  </ul>
</nav>